.cards{
    display: flex;
    flex-wrap: wrap;
}


.card{
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
    border-radius: 6px;
	padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    flex-basis: 260px;
    flex-grow: 1;
}

.card a{
    font-family: 'Abhaya Libre', serif;
	color:#555555;
	text-decoration: none;
    text-align: center;
    font-weight: bold;
	font-size: 18px;
	background-color: #FDC300;
    border-radius: 4px;
	margin-left: 5px;
	padding:15px 10px;
}

.card a:hover{
	background-color: rgba(253, 195, 0, 0.5);
}

.card img{
	width: 300px;
    height: 210px;
	margin: 5px;
	border-radius: 8px;
}